{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="login-container">
        <div id="login-form-container" class="col-md-8">
            <h1 class="h2-mt-10 text-center logo-font"><strong>DREAM SINGLES</strong></h1>

            <form id="login-form" name="login-form" class="form-horizontal" role="form" method="post">
                {% if app.user %}
                    <div class="mb-3">
                        <p class="text-center">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a></p>
                    </div>
                {% endif %}

                <h3 class="h3 mb-3 font-weight-normal text-center">Login</h3>
                <hr>

                {% if error %}
                    <p class="alert alert-danger text-center"><i class="material-icons">error_outline</i> {{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}

                <div class="form-group">
                    <label class="col-md-4 control-label" for="inputUsername"><i class="material-icons">person</i> Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" minlength="3" maxlength="16" required autofocus>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="inputPassword"><i class="material-icons">lock</i> Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" minlength="4" maxlength="16" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button id="login-btn" name="login-btn" class="btn btn-lg btn-primary btn-block" type="submit" value="1"><span class="material-icons">lock_open</span>Login</button>
            </form>

            <a class="pull-right btn btn-link" href="{{ path('user_new')  }}">Not registered?  Create an account.</a>
        </div>
    </div>
{% endblock %}
