<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">


        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <pre>php bin/console cache:clear</pre>
        <h1>Dream Singles</h1>
        {% if app.user %}
            <nav>
                <span title="User ID: {{ app.user.id }}">Greetings @<a href="{{ path('user_show', {'id': app.user.id}) }}">{{ app.user.username }}</a></span>
                <span>|</span>
                <a href="{{ path('user_index') }}">Users</a>
                <span>|</span>
                <a href="{{ path('post_index') }}">Posts</a>
                <span>|</span>
                <a href="{{ path('app_logout') }}">Logout</a>
            </nav>
            <hr>

        {% endif %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
