{{ form_start(form) }}
    {{ form_widget(form) }}
    <hr>
    <button id="save-post-btn" name="save-post-btn" type="submit" class="btn">{{ button_label|default('Save') }}</button>
    <button id="clear-post-btn" name="clear-post-btn" type="reset">clear {{ app.user.id }}</button>
{{ form_end(form) }}
