{% extends 'base.html.twig' %}

{% block title %}Post Ledger{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        {%  if app.user != null %}
            <h2><i class="material-icons">comment</i> Post Ledger</h2>
            <hr>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="3">ACTION</th>
                        <th>ID</th>
                        <th>POSTER</th>
                        <th>TITLE</th>
                        <th>BODY <small>snippet</small></th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        {% if app.user.id == post.userId %}
                            <td class="action-lnk">{{ include('post/_delete_form.html.twig') }}</td>
                            <td class="action-lnk"><a href="{{ path('post_edit', {'id': post.id}) }}"><i class="material-icons">edit</i></a></td>
                        {% else %}
                            <td class="action-lnk"><a title="You are not allowed to delete post: {{ post.id }}" class="btn btn-sm"><i class="material-icons">delete_outline</i></a></td>
                            <td class="action-lnk"><a title="You are not allowed to edit post: {{ post.id }}"><i class="material-icons">edit</i></a></td>
                        {% endif %}
                        <td class="action-lnk"><a href="{{ path('post_show', {'id': post.id}) }}"><i class="material-icons">search</i></a></td>
                        <td>{{ post.id }}</td>
                        <td>{{ post.userId }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ '...' }}</td>
                        <td><small>{{ post.created }}</small></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5"><p class="alert alert-warning">There are no posts submitted.</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>
            <a class="pull-right btn btn-success" href="{{ path('post_new') }}">add post</a>
        {% endif %}

        {% if app.user == null %}
            <p class="alert alert-danger"><i class="material-icons">error_outline</i> This is a restricted page!  You must be logged in to view the ledger!</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
