{% extends 'base.html.twig' %}

{% block title %}Post Profile: {{ post.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-mt-10">Post Profile: {{ post.id }}</h2>
            <hr>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ post.id }}</td>
                    </tr>
                    <tr>
                        <th>USER ID</th>
                        <td>{{ post.userId }}</td>
                    </tr>
                    <tr>
                        <th>DATE</th>
                        <td>{{ post.created }}</td>
                    </tr>
                    <tr>
                        <th>TITLE</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>BODY</th>
                        <td>{{ post.body }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <a class="pull-right btn btn-secondary" href="{{ path('post_index') }}"><< back to ledger</a>
        </div>
    </div>
{% endblock %}
