<div id="user-form-container">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <hr>
        <button id="save-user-btn" name="save-user-btn" type="submit" class="btn btn-primary btn-lg">
            {{ button_label|default('add user') }}
        </button>
        <button id="clear-user-btn" name="clear-user-btn" type="reset" class="btn btn-light btn-lg">clear</button>
    {{ form_end(form) }}
</div>
