{% extends 'base.html.twig' %}

{% block title %}User Registration Ledger{% endblock %}

{% block body %}
    <h1>Registrations: User Ledger </h1>
<hr>
    <table class="table">
        <thead>
            <tr>
                <th>Actions</th>
                <th>ID</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if app.user.id == user.id %}
                        <span>{{ include('user/_delete_form.html.twig') }}</span>
                        <a class="" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

                        {% else %}
                        <a title="You are not allowed to delete user: {{ user.username }}" class="btn" >D</a>
                        <a title="You are not allowed to edit user: {{ user.username }}" class="btn"  >E</a>
                    {% endif %}
                    <a class="" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ '*****' }}</td>
                <td>{{ user.created }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5"><p class="alert alert-warning">There are no registrations.</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <a href="{{ path('user_new') }}">add user</a>
{% endblock %}
