{% extends 'base.html.twig' %}

{% block title %}User Profile: {{ user.id }}{% endblock %}

{% block body %}
    <h1>User Profile</h1>

    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>@{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ '[redacted]' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ user.created }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <a href="{{ path('user_index') }}"><< back to ledger</a>

    <!--
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
    -->
{% endblock %}
