{% extends 'base.html.twig' %}

{% block title %}User Profile: {{ user.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-mt-10"><i class="material-icons">person</i> User Profile: {{ user.id }}</h2>
            <hr>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>@USERNAME</th>
                    <td>@{{ user.username }}</td>
                </tr>
                <tr>
                    <th>ROLES</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>PASSWORD</th>
                    <td>{{ '*****' }}</td>
                </tr>
                <tr>
                    <th>DATE REGISTERED</th>
                    <td>{{ user.created }}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <a class="pull-right btn btn-secondary" href="{{ path('user_index') }}"><< back to ledger</a>
        </div>
    </div>
{% endblock %}
